* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 579px;
  background: #0B2434;
}

.container {
  width: 520px;
  height: 520px;
  background: #F5F5F5;
  border-radius: 10px;
}

